@import "http://fonts.fontstorage.com/import/badscript.css";
/*
	Bad Script, 400
*/
@font-face {
  font-family: 'PFAgoraSansPro-Black';
  src: url("../fonts/AgoraSansProBlack/PFAgoraSansPro-Black.eot");
  src: url("../fonts/AgoraSansProBlack/PFAgoraSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansProBlack/PFAgoraSansPro-Black.woff2") format("woff2"), url("../fonts/AgoraSansProBlack/PFAgoraSansPro-Black.woff") format("woff"), url("../fonts/AgoraSansProBlack/PFAgoraSansPro-Black.ttf") format("truetype"), url("../fonts/AgoraSansProBlack/PFAgoraSansPro-Black.svg#PFAgoraSansPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }

body {
  font-family: 'PF Agora Sans Pro'; }

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.main__panel {
  width: 350px;
  background-color: #f3f1f2;
  text-align: center;
  z-index: 2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-bottom: 30px; }

.main__img {
  background: url(../../images/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }
  .main__img:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); }

.main__head {
  width: 138px;
  height: 100px;
  margin: 50px 0;
  background: url(../../images/authimg.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block; }

.main__authvk {
  background: #5488c4;
  padding: 12px;
  width: 225px;
  display: inline-block;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: .4s;
  cursor: not-allowed; }
  .main__authvk:hover {
    background: #5479b5; }

.register,
.confirm,
.recovery {
  display: none; }

input {
  display: inline-block;
  padding: 7px;
  color: #222;
  border: 1px solid #d9d9d9;
  background-color: transparent;
  font-weight: 400;
  width: 225px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  outline: none; }
  input:focus {
    border: 1px solid #5479b5; }

.input_bad {
  border: 1px solid #d96b53; }

.input_good {
  border: 1px solid #9dd97e; }

.main__start {
  background: #03BED1;
  padding: 12px;
  width: 225px;
  display: inline-block;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: .4s;
  cursor: pointer;
  margin-top: 30px; }
  .main__start:hover {
    background: #03a3b6; }

.main__recovery {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #b8b8b8;
  width: 160px;
  cursor: pointer; }

.main__register {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #b8b8b8;
  width: 275px;
  margin-top: 5px; }
  .main__register span {
    color: #8ba7d2;
    cursor: pointer; }

.register__firstname,
.register__lastname {
  width: 110px; }

.confirm__code {
  text-align: center;
  text-transform: uppercase; }

.modalwindow {
  z-index: 10;
  position: fixed;
  right: 10px;
  top: 10px; }

.modalwindow__item {
  max-width: 300px;
  background: #ffffff;
  display: flex;
  padding: 16px;
  min-width: 300px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
  webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }

.modalwindow__icon {
  color: #108EE9;
  font-size: 35px;
  margin-right: 10px; }

.modalwindow__title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
  color: #323332; }

.modalwindow__body {
  font-weight: 400;
  font-size: 15px;
  color: #595959; }
